@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Raleway:wght@200;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;800;900&display=swap");
@font-face {
  font-family: "fontSpring";
  src: url("./Fontspring-DEMO-integralcf-extrabold.woff2") format("woff2");
}
@font-face {
  font-family: "ghiantin";
  src: url("./Ghiantin-subset.woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-display: block;
}
body {
  background-color: #111b21;
  color: white;
  overflow-x: hidden;
  min-height: 100vh;
}
.container {
  width: 100%;
  font-family: "Unbounded";
  height: 100vh;
}
.chatTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 1rem; */
  margin-top: 3.5rem;
  z-index: 5;
  width: 100%;
}
.chatTitle {
  background-color: #111b21;
  position: fixed;
  text-align: center;
  /* margin-top: 3rem; */
  font-family: "Unbounded";
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  font-weight: 200;
  font-size: 1rem;
}
.rinoIconContainer {
  /* background-color: red; */
  overflow: hidden;
}
.thinking {
  position: absolute;
  right: -200%;
  top: -100%;
  opacity: 0;
}
.secondThinking {
  top: -30%;
  right: -90%;
  position: absolute;
  transition: 0.5s;
  opacity: 0;
  /* background-color: red; */
}
.chatHeadContainer {
  position: relative;
}
.thinkingDots {
  display: flex;
  gap: 4px;
  position: absolute;
  top: 33%;
  left: 28%;
}
.thinkingDot {
  width: 2.5px;
  height: 2.5px;
  background-color: white;
  border-radius: 50%;
}
.userIconContainer {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  border-radius: 50%;
  background-color: #502808;
}
.nameFirstLetter {
  font-family: "Unbounded";
  font-weight: 300;
  font-size: 1.2rem;
  color: white;
}
.chatRoom {
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.chatRoom .innerChatRoom {
  /* background-color: red; */
  margin-bottom: 10rem;
  margin-top: 3rem;
  width: 80%;
}
.userMessage {
  margin-right: 10px;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 200;
  text-align: end;
}
.rinoMessage {
  /* max-width: 70%; */
  width: 100%;
}
.innerLogoSpace {
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 10px;
}
.rinovateLogoSpace {
  width: 35px;
  height: 50px;
  transition: 0.3s all;
  display: inline-block;
  /* background-color: aqua; */
  overflow: hidden;
  /* display: flex;
  align-items: center;
  gap: 10px; */
}
.downSvg {
  transition: all 0.3s cubic-bezier(0.85, 0.29, 0.74, 1.07);
  transform: translateY(30px);
}
.upSvg {
  transition: all 0.4s cubic-bezier(0.43, 0.84, 0.65, 1.12);
  transform: translateY(0px);
}
.ourName {
  color: #25d366;
}
.filler {
  width: 100%;
  position: fixed;
  top: 0;
  height: 100px;
  background-color: #111b21;
}
.contactUsInput {
  padding: 20px 40px;
  width: 100%;
  margin-top: 1rem;
  font-family: "Unbounded";
  border: none;
  border-radius: 10px;
}
.contactUsButton {
  width: 100%;
  padding: 20px 40px;
  background-color: grey;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 0.5rem;
  font-family: "Unbounded";
}
.border {
  width: 100px;
  height: 100px;
  background: linear-gradient(0deg, #111b21, rgba(37, 211, 102, 1) 100%);
}
.multiplicationSign {
  /* color: #25d366; */
  font-size: 2rem;
  font-family: "ghiantin";
}
.imageBackDrop {
  display: block;
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: bottom; */
  background: linear-gradient(0deg, #111b21, rgba(37, 211, 102, 1) 100%);
  border-radius: 50%;
}
.animation_container {
  margin-top: 1rem;
  display: block;
}
.tk-blob {
  width: 100px;
  height: 100px;
}
.schoolLogo {
  width: 30px;
  height: 30px;
}
@keyframes borderAnimation {
  0% {
    border-radius: 49% 51% 70% 30% / 57% 50% 50% 43%;
  }
  100% {
    border-radius: 49% 51% 70% 30% / 67% 60% 60% 53%;
  }
}
.contactUsButton:hover {
  background-color: rgb(63, 63, 63);
}
.flexParentContainer {
  width: 100%;
  /* background-color: gainsboro; */
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
}
.fixedInputBox {
  position: fixed;
  bottom: 0%;
  background-color: #111b21;
  width: 100%;
}
.contactImage {
  position: absolute;
  /* display: block; */
  /* width: 400px; */
  /* object-fit: cover; */
  /* height: 400px; */
  /* border-radius: 10px; */
}
.socialMediaLinksContainer {
  margin-top: 1rem;
  display: flex;
  gap: 20px;
  align-items: center;
}
.socialMediaLinksContainer svg {
  width: 30px;
  cursor: pointer;
  fill: #25d366;
  height: 30px;
}
.emphasisText {
  font-family: "fontSpring";
  font-size: 2.4rem;
}
.suggestionsContainer {
  overflow-x: auto;
}
.suggestions {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.suggestionsContainer::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.suggestion {
  overflow: hidden;
  flex: 0 0 auto;
  /* background-color: red; */
  padding: 20px 10px;
  cursor: pointer;
}
.suggestion:hover {
  color: #25d366;
}
.suggestions .suggestionTitle {
  font-weight: 200;
  transform: translateY(50px);
}
.fixedInputBox .inputBox {
  /* background-color: red; */
  display: flex;
  justify-content: center;
}
.fixedInputBox input {
  width: 100%;
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 20px;
  font-family: "Unbounded";
  display: flex;
}
.fixedInputBox .inputInnerBox {
  position: relative;
  width: 50%;
}
.cursor {
  width: 6px;
  display: inline-block;
  /* position: absolute; */
  height: 20px;
  background-color: white;
  /* visibility: hidden; */
  animation: blinkCursor 0.8s infinite;
}

@keyframes blinkCursor {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.fixedInputBox .iconContainer {
  background-color: white;
  display: flex;
  cursor: pointer;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 2%;
  top: 13%;
  padding: 10px 15px;
  border-radius: 5px;
}
.footerText {
  font-size: 0.8rem;
  margin-top: 0.4rem;
  font-family: "Unbounded";
  font-weight: 200;
  text-align: center;
}
